In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

#constand

# File to Load
COMP_SCHOOOL_PATH= "Resources/schools_complete.csv"
COMP_STUDENT_PATH= "Resources/students_complete.csv"

In [4]:
#Constants: in all caps (des)

PASSING_SCORE = 70

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(COMP_SCHOOOL_PATH)
student_data_df = pd.read_csv(COMP_STUDENT_PATH)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [5]:
# Calculate the total number of unique schools
school_count = len(school_data_df)
print ("There are " + str(school_count) + " schools in the PyCity School District.")

There are 15 schools in the PyCity School District.

In [6]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [7]:
school_data_complete_df.count()["Student ID"]

39170

In [8]:
school_data_complete_df["Student ID"].count()

39170

In [9]:
# Calculate the total number of students
#student_count = len(school_data_complete_df)
student_count = school_data_complete_df["Student ID"].count()
print ("There are " + str(student_count) + " students in the PyCity School District")

There are 39170 students in the PyCity School District

# Calculate the total budget 
a few different ways

In [10]:
#school_data_df.sum()["budget"]
#school_data_df["budget"].sum()
print ("The District's Total Budget is $" + str(school_data_df.sum()["budget"]))

The District's Total Budget is $24649428

In [11]:
school_data_complete_df.groupby("school_name").mean()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [10]:
Mean_sdc_gb = school_data_complete_df.groupby("school_name").mean()
Mean_sdc_gb["budget"].sum()
print ("The District's Total Budget is $" + str(Mean_sdc_gb["budget"].sum()))

The District's Total Budget is $24649428.0

#District Average Math Score

In [11]:
print("The District's Average Math Score is " + str(round(school_data_complete_df["math_score"].mean(), 0)))

The District's Average Math Score is 79.0

#District Average Reading Score

In [12]:
print("The District's Average Reading Score is " + str(round(school_data_complete_df["reading_score"].mean(), 0)))

The District's Average Reading Score is 82.0

# % Students Passing Math
# % Students Passing Reading

In [13]:
pass_reading_s = school_data_complete_df["reading_score"] >= 70
pass_math_s = school_data_complete_df["math_score"] >= 70

In [14]:
pass_reading_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
pass_math_count_s = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage_s = pass_math_count_s / float(student_count) * 100
passing_reading_percentage_s = pass_reading_count_s / float(student_count) * 100
#pass_both_count_s = pass_math_count_s & pass_reading_count_s
pass_both_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_both_percentage_s = pass_both_count_s / float(student_count) *100

#school_data_complete_df[(pass_both_count_s)] 

#print (str(pass_math_count_s))
print (str(round(passing_math_percentage_s)) + "% of the District's students passed Math")
#print (str(pass_reading_count_s))
print (str(round(passing_reading_percentage_s)) + "% of the District's students passed Reading")
#print (str(pass_both_count_s))
print (str(round(passing_both_percentage_s)) + "% of the District's students passed both Math and Reading")

75% of the District's students passed Math
86% of the District's students passed Reading
65% of the District's students passed both Math and Reading

High Level District Data Frame Analysis

In [17]:

#dist_summary_headers = ["Total Schools", "Total Budget", "Average Math Score", "Average Reading Score", "Percentage Students Passing Math", "Percentage Students Passing Reading", "Percentage Students Passing Reading and Math"]
summary_data ={"Total Schools": [str(school_count)], "Total Budget": [str(Mean_sdc_gb["budget"].sum())],
 "Avg Math Score": str(round(school_data_complete_df["math_score"].mean())), 
 "Avg Reading Score": str(round(school_data_complete_df["reading_score"].mean())), 
 "% Students Passing Math": str(round(passing_math_percentage_s)), 
 "% Students Passing Reading": str(round(passing_reading_percentage_s)), 
 "% Students Passing Reading and Math": str(round(passing_both_percentage_s))}

dist_summary_df = pd.DataFrame(summary_data)
#district_summary_df = pd.merge(dist_summary_headers, dist_summary_data, how="outer")

#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
dist_summary_df

,Total Schools,Total Budget,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading and Math
0,15,24649428.0,79,82,75,86,65

School Summaries

In [26]:
print(school_data_complete_df.info)

<bound method DataFrame.info of        Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[39170 rows x 11 columns]>

In [12]:
school_types = school_data_df.set_index(["school_name"])["type"]
print (school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [65]:
school_data_complete_df.groupby("school_name").count()["Student ID"]

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [63]:
# students_per_school = {}
# students = 0
# school_name = school_data_complete_df[school_data_complete_df.column[4]]



# for row in school_data_complete_df:
#     if school_name in "students_per_school"
#         students_per_school["school_name"] += 1
#     else:
#         students_per_school["school_name"] = 1
        
# print(students_per_school)

AttributeError: 'DataFrame' object has no attribute 'column'

In [69]:
school_data_complete_df.groupby("school_name").mean()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [ ]:
schl_budget_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["budget"]) 
school_students_df = pd.DataFrame(school_data_complete_df.groupby("school_name").count()["Student ID"])
budget_per_student_df = pd>DataFrame(int(schl_budet.df / school_students.df))
avg_math_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["math_score"])
avg_reading_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["reading_score"])
perpass_math_df = (school_data_complete_df.groupby("school_name").mean()["reading_score"])

In [24]:
# Calculate the total student count
#per_school_counts = 
For Each School

#School Name
#School Type
#total students per school
#total School Budget
#budget per student
#Average Math Score
#Average Reading Score
#% students passing math
#% students passing reading
#% students passing overall

students_per_school = school_data_complete_df

Total 




#if "school_name" == "Huang High School":
#student_data_df.set_index(["school_name"])["student_name"].count()

SyntaxError: invalid syntax (3916072706.py, line 3)