In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

#constand

# File to Load
COMP_SCHOOOL_PATH= "Resources/schools_complete.csv"
COMP_STUDENT_PATH= "Resources/students_complete.csv"

In [3]:
#Constants: in all caps (des)

PASSING_SCORE = 70

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(COMP_SCHOOOL_PATH)
student_data_df = pd.read_csv(COMP_STUDENT_PATH)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = len(school_data_df)
print ("There are " + str(school_count) + " schools in the PyCity School District.")

In [ ]:
school_data_complete_df.count()
school_data_complete_df.count()

In [ ]:
school_data_complete_df.count()["Student ID"]

In [ ]:
school_data_complete_df["Student ID"].count()

In [ ]:
# Calculate the total number of students
#student_count = len(school_data_complete_df)
student_count = school_data_complete_df["Student ID"].count()
print ("There are " + str(student_count) + " students in the PyCity School District")

# Calculate the total budget 
a few different ways

In [ ]:
#school_data_df.sum()["budget"]
#school_data_df["budget"].sum()
print ("The District's Total Budget is $" + str(school_data_df.sum()["budget"]))

In [ ]:
school_data_complete_df.groupby("school_name").mean()

In [ ]:
Mean_sdc_gb = school_data_complete_df.groupby("school_name").mean()
Mean_sdc_gb["budget"].sum()
print ("The District's Total Budget is $" + str(Mean_sdc_gb["budget"].sum()))

#District Average Math Score

In [ ]:
print("The District's Average Math Score is " + str(round(school_data_complete_df["math_score"].mean(), 0)))

#District Average Reading Score

In [ ]:
print("The District's Average Reading Score is " + str(round(school_data_complete_df["reading_score"].mean(), 0)))

# % Students Passing Math
# % Students Passing Reading

In [ ]:
pass_reading_s = school_data_complete_df["reading_score"] >= 70
pass_math_s = school_data_complete_df["math_score"] >= 70

In [ ]:
pass_reading_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
pass_math_count_s = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage_s = pass_math_count_s / float(student_count) * 100
passing_reading_percentage_s = pass_reading_count_s / float(student_count) * 100
#pass_both_count_s = pass_math_count_s & pass_reading_count_s
pass_both_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_both_percentage_s = pass_both_count_s / float(student_count) *100

#school_data_complete_df[(pass_both_count_s)] 

#print (str(pass_math_count_s))
print (str(round(passing_math_percentage_s)) + "% of the District's students passed Math")
#print (str(pass_reading_count_s))
print (str(round(passing_reading_percentage_s)) + "% of the District's students passed Reading")
#print (str(pass_both_count_s))
print (str(round(passing_both_percentage_s)) + "% of the District's students passed both Math and Reading")

High Level District Data Frame Analysis

In [ ]:

#dist_summary_headers = ["Total Schools", "Total Budget", "Average Math Score", "Average Reading Score", "Percentage Students Passing Math", "Percentage Students Passing Reading", "Percentage Students Passing Reading and Math"]
summary_data ={"Total Schools": [str(school_count)], "Total Budget": [str(Mean_sdc_gb["budget"].sum())],
 "Avg Math Score": [str(round(school_data_complete_df["math_score"].mean()), 0)], 
 "Avg Reading Score": [str(round(school_data_complete_df["reading_score"].mean()))], 
 "% Students Passing Math": [str(round(passing_math_percentage_s))], 
 "% Students Passing Reading": [str(round(passing_reading_percentage_s))], 
 "% Students Passing Reading and Math": [str(round(passing_both_percentage_s))]}

dist_summary_df = pd.DataFrame(summary_data)
#district_summary_df = pd.merge(dist_summary_headers, dist_summary_data, how="outer")

#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
dist_summary_df

School Summaries

In [ ]:
school_types = school_data.set_index(["school_name"])["type"]
print (school_types)

In [ ]:
# Calculate the total student count
#per_school_counts = 
student_count_schl_df = school_data.set_index(["school_name"])["type"](["student_name"]).count()

#if "school_name" == "Huang High School":
#student_data_df.set_index(["school_name"])["student_name"].count()