In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

#constand

# File to Load
COMP_SCHOOOL_PATH= "Resources/schools_complete.csv"
COMP_STUDENT_PATH= "Resources/students_complete.csv"

In [2]:
#Constants: in all caps (des)

PASSING_SCORE = 70

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(COMP_SCHOOOL_PATH)
student_data_df = pd.read_csv(COMP_STUDENT_PATH)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [3]:
# Calculate the total number of unique schools
school_count = len(school_data_df)
print ("There are " + str(school_count) + " schools in the PyCity School District.")

There are 15 schools in the PyCity School District.

In [4]:
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
school_data_complete_df.count()["Student ID"]

39170

In [6]:
school_data_complete_df["Student ID"].count()

39170

In [7]:
# Calculate the total number of students
#student_count = len(school_data_complete_df)
student_count = school_data_complete_df["Student ID"].count()
print ("There are " + str(student_count) + " students in the PyCity School District")

There are 39170 students in the PyCity School District

# Calculate the total budget 
a few different ways

In [8]:
#school_data_df.sum()["budget"]
#school_data_df["budget"].sum()
print ("The District's Total Budget is $" + str(school_data_df.sum()["budget"]))

The District's Total Budget is $24649428

In [9]:
school_data_complete_df.groupby("school_name").mean()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [10]:
Mean_sdc_gb = school_data_complete_df.groupby("school_name").mean()
Mean_sdc_gb["budget"].sum()
print ("The District's Total Budget is $" + str(Mean_sdc_gb["budget"].sum()))

The District's Total Budget is $24649428.0

#District Average Math Score

In [11]:
print("The District's Average Math Score is " + str(round(school_data_complete_df["math_score"].mean(), 0)))

The District's Average Math Score is 79.0

#District Average Reading Score

In [12]:
print("The District's Average Reading Score is " + str(round(school_data_complete_df["reading_score"].mean(), 0)))

The District's Average Reading Score is 82.0

# % Students Passing Math
# % Students Passing Reading

In [13]:
pass_reading_s = school_data_complete_df["reading_score"] >= 70
pass_math_s = school_data_complete_df["math_score"] >= 70

In [14]:
pass_reading_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
pass_math_count_s = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage_s = pass_math_count_s / float(student_count) * 100
passing_reading_percentage_s = pass_reading_count_s / float(student_count) * 100
#pass_both_count_s = pass_math_count_s & pass_reading_count_s
pass_both_count_s = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_both_percentage_s = pass_both_count_s / float(student_count) *100

#school_data_complete_df[(pass_both_count_s)] 

#print (str(pass_math_count_s))
print (str(round(passing_math_percentage_s)) + "% of the District's students passed Math")
#print (str(pass_reading_count_s))
print (str(round(passing_reading_percentage_s)) + "% of the District's students passed Reading")
#print (str(pass_both_count_s))
print (str(round(passing_both_percentage_s)) + "% of the District's students passed both Math and Reading")

75% of the District's students passed Math
86% of the District's students passed Reading
65% of the District's students passed both Math and Reading

High Level District Data Frame Analysis

In [15]:

#dist_summary_headers = ["Total Schools", "Total Budget", "Average Math Score", "Average Reading Score", "Percentage Students Passing Math", "Percentage Students Passing Reading", "Percentage Students Passing Reading and Math"]
summary_data ={"Total Schools": [str(school_count)], "Total Budget": [str(Mean_sdc_gb["budget"].sum())],
 "Avg Math Score": str(round(school_data_complete_df["math_score"].mean())), 
 "Avg Reading Score": str(round(school_data_complete_df["reading_score"].mean())), 
 "% Students Passing Math": str(round(passing_math_percentage_s)), 
 "% Students Passing Reading": str(round(passing_reading_percentage_s)), 
 "% Students Passing Reading and Math": str(round(passing_both_percentage_s))}

dist_summary_df = pd.DataFrame(summary_data)

# Display the DataFrame
dist_summary_df

,Total Schools,Total Budget,Avg Math Score,Avg Reading Score,% Students Passing Math,% Students Passing Reading,% Students Passing Reading and Math
0,15,24649428.0,79,82,75,86,65

School Summaries

In [17]:
school_types = school_data_df.set_index(["school_name"])["type"]
print (school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [24]:
students_per_school = school_data_complete_df.groupby("school_name").count()["Student ID"]
print(students_per_school)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [25]:
schl_budget = school_data_complete_df.groupby("school_name").mean()["budget"]
print(schl_budget)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [26]:
budget_per_student = (schl_budget / students_per_school)
print(budget_per_student)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [54]:
avgmath_perschool = str(round(school_data_complete_df.groupby("school_name").mean()["math_score"]))
print(avgmath_perschool)

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         77.0
Griffin High School      83.0
Hernandez High School    77.0
Holden High School       84.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       83.0
Wilson High School       83.0
Wright High School       84.0
Name: math_score, dtype: float64

In [31]:
passmath_byschool = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70 , :].groupby("school_name").count()["Student ID"]
print(passmath_byschool)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [57]:
avgread_perschool = str(round(school_data_complete_df.groupby("school_name").mean()["math_score"]))
print(avgread_perschool)

school_name
Bailey High School       77.0
Cabrera High School      83.0
Figueroa High School     77.0
Ford High School         77.0
Griffin High School      83.0
Hernandez High School    77.0
Holden High School       84.0
Huang High School        77.0
Johnson High School      77.0
Pena High School         84.0
Rodriguez High School    77.0
Shelton High School      83.0
Thomas High School       83.0
Wilson High School       83.0
Wright High School       84.0
Name: math_score, dtype: float64

In [32]:
passread_byschool = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70 , :].groupby("school_name").count()["Student ID"]
print(passread_byschool)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [34]:
school_data_complete_df.groupby("school_name").mean()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [40]:
passall_byschool = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70), :].groupby("school_name").count()["Student ID"]
print(passall_byschool)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [63]:
percent_passm = passmath_byschool / students_per_school
print(round(percent_passm * 100))

school_name
Bailey High School       67.0
Cabrera High School      94.0
Figueroa High School     66.0
Ford High School         68.0
Griffin High School      93.0
Hernandez High School    67.0
Holden High School       93.0
Huang High School        66.0
Johnson High School      66.0
Pena High School         95.0
Rodriguez High School    66.0
Shelton High School      94.0
Thomas High School       93.0
Wilson High School       94.0
Wright High School       93.0
Name: Student ID, dtype: float64

In [64]:
percent_passr = passread_byschool / students_per_school
print(round(percent_passr * 100))

school_name
Bailey High School       82.0
Cabrera High School      97.0
Figueroa High School     81.0
Ford High School         79.0
Griffin High School      97.0
Hernandez High School    81.0
Holden High School       96.0
Huang High School        81.0
Johnson High School      81.0
Pena High School         96.0
Rodriguez High School    80.0
Shelton High School      96.0
Thomas High School       97.0
Wilson High School       97.0
Wright High School       97.0
Name: Student ID, dtype: float64

In [65]:
percent_passo = passall_byschool / students_per_school
print(round(percent_passo * 100))

school_name
Bailey High School       55.0
Cabrera High School      91.0
Figueroa High School     53.0
Ford High School         54.0
Griffin High School      91.0
Hernandez High School    54.0
Holden High School       89.0
Huang High School        54.0
Johnson High School      54.0
Pena High School         91.0
Rodriguez High School    53.0
Shelton High School      90.0
Thomas High School       91.0
Wilson High School       91.0
Wright High School       90.0
Name: Student ID, dtype: float64

In [74]:
sch_summ_data = {"School Type": [str(school_types)], "Total Students per School": [str(students_per_school)], 
                "Total School Budget" : [str(schl_budget)], 
                "Budget per Student": [str(budget_per_student)], 
                "Avg Reading Score": avgread_perschool, 
                "Avg Math Score": avgmath_perschool, 
                "Percentage Students Passing Math": [str(round(percent_passm * 100))], 
                "Percentage Students Passing Reading": [str(round(percent_passr * 100))],
                "Percentage Students Passing Reading and Math": [str(round(percent_passo * 100))]
                }

In [81]:
schl_summ_df = pd.DataFrame(sch_summ_data)
schl_summ_df.head(15)

,School Type,Total Students per School,Total School Budget,Budget per Student,Avg Reading Score,Avg Math Score,Percentage Students Passing Math,Percentage Students Passing Reading,Percentage Students Passing Reading and Math
0,school_name\nHuang High School District...,school_name\nBailey High School 4976\nCa...,school_name\nBailey High School 3124928....,school_name\nBailey High School 628.0\nC...,school_name\nBailey High School 77.0\nCa...,school_name\nBailey High School 77.0\nCa...,school_name\nBailey High School 67.0\nCa...,school_name\nBailey High School 82.0\nCa...,school_name\nBailey High School 55.0\nCa...

In [77]:
schl_budget_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["budget"]) 
school_students_df = pd.DataFrame(school_data_complete_df.groupby("school_name").count()["Student ID"])
budget_per_student_df = pd>DataFrame(int(schl_budet.df / school_students.df))
avg_math_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["math_score"])
avg_reading_df = pd.DataFrame(school_data_complete_df.groupby("school_name").mean()["reading_score"])
perpass_math_df = (school_data_complete_df.groupby("school_name").mean()["reading_score"])

NameError: name 'DataFrame' is not defined

In [ ]:
# Calculate the total student count
#per_school_counts = 
For Each School

#School Name
#School Type
#total students per school
#total School Budget
#budget per student
#Average Math Score
#Average Reading Score
#% students passing math
#% students passing reading
#% students passing overall

students_per_school = school_data_complete_df

Total 




#if "school_name" == "Huang High School":
#student_data_df.set_index(["school_name"])["student_name"].count()